*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1B2845;
    text-align: center;
    color: goldenrod;

}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;    
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 7vmin;
    color:maroon;
    background-color: cornsilk;

}
#reset{
    padding: 1rem;
    font-size: 3vmin;
    border-radius: 1rem;
    border: none;
    color:darkorange;   
    background-color: black;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    flex-direction: column;
    gap : 4rem;
}
.hide{
    display: none;
}
#New{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    color: yellowgreen;
    background-color: black;
}












